@media(max-width:768px)
{
    .header{
        background-color:firebrick;
        height: auto;
        padding: 20px;
    }
    .header>nav>ul{
        float:none;
    }
    .header>nav>ul>li{
        display: block;
    }
    .header>nav{
        text-align: center;
    }
    .banner{
        background-color: dimgray;
    }
}

/*Tablet COde*/
@media(min-width:769px) and (max-width:1024px)
{
    .header{
        background-color: darkorange;
    }
    .header>nav{
        margin:0px 30px 0px 30px;
    }
    .banner{
        background-color:dodgerblue;
    }
}